.top-bar{
    height: 10vh;
    width: 100%;
    background-color: #71bfa6;
    color: white;
    margin-top: 20px;
}
.btn{
    background-color: #71bfa6;
    color:white;
}
.row{
    margin-top: 75px;
}
